@font-face {
    font-family: 'Sauce Code Pro Complete';
    font-style: normal;
    font-weight: 200;
    src:  url('https://github.com/mvandermeulen/blinkfont/blob/master/Sauce_Code_Pro_Light_Nerd_Font_Complete_Mono.otf?raw=true') format('opentype');
}
@font-face {
    font-family: 'Sauce Code Pro Complete';
    font-style: normal;
    font-weight: 400;
    src:  url('https://github.com/mvandermeulen/blinkfont/blob/master/Sauce_Code_Pro_Nerd_Font_Complete_Mono.otf?raw=true') format('opentype');
}
@font-face {
    font-family: 'Sauce Code Pro Complete';
    font-weight: 600;
    src:  url('https://github.com/mvandermeulen/blinkfont/blob/master/Sauce_Code_Pro_Medium_Nerd_Font_Complete_Mono.otf?raw=true') format('opentype');
}
@font-face {
    font-family: 'Sauce Code Pro Complete';
    font-weight: 800;
    src: url('https://github.com/mvandermeulen/blinkfont/blob/master/Sauce_Code_Pro_Bold_Nerd_Font_Complete_Mono.otf?raw=true') format('opentype');
}
